node_modules
dist
coverage
.git
.gitignore
.env
.env.local
.env.*.local
README.md
docs
bin
tests
Makefile
*.md
*.log
.vscode
.idea
.nyc_output
jest.config.ts
jest.e2e.config.ts
tsconfig.seed.json
.eslintrc.cjs
.prettierrc